.timepool-wrap .noborder .ant-time-picker-input {
  border-left: 0;
}
.timepool-wrap .input-group {
  width: 49%;
}
.timepool-wrap .input-group .time {
  width: calc((100% - 66px) / 2);
}
.timepool-wrap .input-group .time .ant-time-picker-input {
  text-align: center;
}
.timepool-wrap .input-group .dash {
  width: 11px;
  padding: 0 2px;
  text-align: center;
  border-left: 0;
  pointer-events: none;
  background-color: #fff;
  color: #000;
}
.timepool-wrap .input-group .text {
  width: 55px;
  padding: 0 2px !important;
  text-align: center;
  border-left: 0;
  pointer-events: none;
  background-color: #fff;
  color: #000;
}
.timepool-wrap .wave {
  width: 2%;
  display: inline-block;
  text-align: center;
}
