.timezone-wrap .noborder {
  border-left: 0;
}
.timezone-wrap .time {
  width: calc((100% - 68px) / 2);
  text-align: center;
}
.timezone-wrap .dash {
  width: 11px;
  padding: 0 2px !important;
  text-align: center;
  border-left: 0;
  pointer-events: none;
  background-color: #fff;
  color: #000;
}
.timezone-wrap .text {
  width: 55px;
  padding: 0 2px !important;
  text-align: 'center';
  border-left: 0;
  pointer-events: none;
  background-color: #fff;
  color: #000;
}
